<form method="get" action="/quizes">
	<p>Búsqueda de preguntas:</p>
	<input type="text" name="search" value="Buscar"/>
	<input type="submit" value="Enviar"/>
</form>
<br>
<table>
<% var i; console.log('Número de preguntas: '+quizes.length	);for (i=0; i<quizes.length; i++){ %>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>